/* trunk-ignore-all(prettier) */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
.top-elements {
   display: flex;
   background-color: #fff;
   border-top: 1px solid  #e0e0e0;
   border-bottom: 1px solid #e0e0e0;
   padding: 16px 16px;
   left: 0;
   right: 0;
   align-items: center;
   height: 4px;
   padding-top: 1rem;
   margin: 0;
   justify-content: flex-end;
   list-style: none;
}

/* .element-right {
   
} */
.element-left {
    margin-left: 34rem;
   
}


.menu-top {
    margin: 0 10px;
}
.top-elements .menu-top{ 
    padding-left: 8px;
    font-size: 13px;
    display: inline-block;
}
ol li :hover{
    border-bottom: 2.5px solid #FF9400;
    cursor: pointer;
}
select, option{
    border: none;

}
.hero-slider{
  position: relative;
  margin-top: -20px;
  overflow: hidden;
  height: 560px;
  display: flex;
  justify-content: center;
  background-position: center;
  flex-direction: column;
  color: #fff;
  overflow: hidden;

}

.hero-slider::before {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-repeat: no-repeat;
  animation: slide 15s infinite;
  z-index: -1;
}



.navbar{
   display: flex; 
   position: fixed;
   background-color: #fff;
   left: 0;
   right: 0;
   z-index: 1000;
   align-items: center;
   height: 30px;
   padding: 16px 16px;
   padding-top: 1rem;
   margin: 0;
   justify-content: space-between;
   list-style: none;
   
   
}

.menu {
    margin: 0 10px;
}
.navbar .menu{
    padding-left: 8px;
    font-size: 13px;
    display: inline-block;
}

li a {
   gap: 2rem;
   text-decoration: none;
   color: rgb(8, 8, 8);
   padding: 2px 2px ;
   margin: 0;
   cursor: pointer;
}

.nav-logo img{
    margin-left: 15px;
    width: 128px;
    height: 30px;
}

.hero-online-buttons{
    display: flex;
    margin-left: auto;
}
.button-online-1{
    border-radius: 5px;
    width: 128px;
    height: 36px;
    margin-right: 1rem;
    border: 2px solid #000000;
}
.button-online-2{
    border-radius: 5px;
    background-color: #FF9400;
    border: 0;
    width: 132px;
    height: 36px;
    margin-right: 1rem;
}
.hero-text{
    padding-left: 4rem;
    padding-top: 10rem;
    
}
.div-button{
    padding-left: 2rem;
    padding-top: 12px;
}

.div-button  button{
    border-radius: 5px;
    background-color: #FF9400;
    border: 0;
    width: 170px;
    height: 36px;
    margin-right: 1rem;
    
}
.hero-texr{
    line-height: 1.4;
   margin: 0;
}
.hero-text h1{
   font-size: 55px;
   font-weight: 700;
   line-height: 1.4;
   margin: 0;
}
.hero-text  h2{
   font-size: 55px;
   font-weight: 700;
   line-height: 1.4;
   margin: 0;
}


.hero-text p {
   font-size: 18px;
   font-weight: 600;
  
}
.hero-button{
    background-color: #FF9400;
    width: 130px;
    height: 40px;
    border:none;
    border-radius: 5px;
   
}
.hero-button span{
    color: #481600;
    font-weight: 300;
    font-size: 14.5px;

}
@keyframes slide{
   0% , 45% {
        background-image: linear-gradient(rgb(0,0,0,0.4) , rgb(0,0,0,0.2)), url("images/image-rawbank1.png") ;
    }
    50% , 95% {
        background-image: linear-gradient(rgb(0,0,0,0.4) , rgb(0,0,0,0.2)), url("images/image-rawbank2.png");
    }

}
li a:hover{
  color: #FF9400;
  /* transition-duration: 5s; */
  cursor: pointer;

}

/* First Section Main */

.section-main-up{
    display: flex;
    justify-items: center;
    margin-top: 7rem;
    gap: 2rem;
}

.img-section-main-up{
    width: 540px;
    height: 464px;
    border-radius: 15px;
    margin-left: 6rem;
}
.div-content-up h1,h2,h3{
    margin:0;
    line-height: 1.2;
    font-size: 29px;
    margin-left: 2rem;
    font-weight: 600;
}
.div-content-up h2,h3{
     margin:0;
    line-height: 1.2;
    font-size: 29px;
    margin-left: 2rem;
    font-weight: 600;
   color: #000000;
}


.div-content-up h1{
    margin:0;
    color: #FF9400;
    line-height: 1.2;
    font-size: 29px;
    margin-left: 2rem;
    font-weight: 600;
}

.div-content-up p{
    margin-left: 2rem;
}

.paragraph-div-1{
    padding-top: 1rem;
}
.paragraph-div-2{
    padding-top: 12px;
}

.section-main-down{
    background-color: #1B171B;
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    padding-left: 3rem;
    justify-items: center;
    padding-top: 8rem;
    gap: 2rem;

}
.div-content-down h1,h2{
    margin:0;
    color: #fff;
    line-height: 1.2;
    font-size: 29px;
    margin-left: 2rem;
    font-weight: 600;
}

.div-content-down p{
    margin-left: 2rem;
}

.paragraph-down-1{
    color: #fff;
    padding-top: 1rem;
}
.paragraph-down-2{
    color: #fff;
    padding-top: 12px;
}

.div-img-down img{
    padding-right: 8em;
    width: 400.8px;
    height: 400.13px;
}

.section-map{
    display: flex;
    justify-items: center;
    margin-top: 7rem;
    gap: 2rem;
}
.e-hotspot__outer-circle{
    background-color: #FF9400;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}


/* map section */

.section-map{
    height: 700px;
}


.div-content-section-map h1,h2,h3{
    margin:0;
    line-height: 1.2;
    font-size: 29px;
    margin-left: 2rem;
    font-weight: 600;
}
.div-content-section-map h2,h3{
     margin:0;
    line-height: 1.2;
    font-size: 29px;
    margin-left: 2rem;
    font-weight: 600;
   color: #000000;
}


.div-content-section-map h1{
    margin:0;
    line-height: 1.2;
    font-size: 29px;
    margin-left: 2rem;
    font-weight: 600;
}

.div-content-section-map p{
    margin-left: 2rem;
}

.paragraph-section-map-1{
    padding-top: 1rem;
}
.paragraph-section-map-2{
    padding-top: 12px;
}

.div-button-section-map button{
    border-radius: 5px;
    background-color: #FF9400;
    border: 0;
    width: 220px;
    height: 36px;
    margin-left: 2rem;
}

.section-background-black-online{
    background-color: #1B171B;
    justify-content: center;
    display: flex;
    height: 50rem;

}

.div-img-background-black-online img{
    width: 438px;
    height: 485px;
    border-radius: 15px;
    padding-top: 14rem;
    padding-right: 2rem;
    
}
.flex-link-a {
    gap:4rem;
    color: #fff;
    padding-left: 14rem;
    padding-top: 4rem;
}

.flex-link-a h2{
    color: #fff;
    font-size: 26px;
}

span {
    gap: 4rem;
    color: #8B8A8D;
    font-size: 16px;
}

span:hover{
    color:2px solid #FF9400;
    cursor: pointer;
}

.rawbank-online{
    padding-top: 14rem;
    padding-left: 1rem;
}
.rawbank-online h2{
   font-size: 27px;
}

.rawbank-online p{
    color: #fff;
    font-size: 16px;
    padding-left: 1.8rem;
}
.div-button-a a{
    color: #FF9400;
    padding-left: 1.8rem;
}
